.background {
background-color: rgb(226, 226, 226);
}

.home {
    margin-top: 0,0px;
    margin: left;
    display: flex;
}

.navbar {
      background-color: #333;
      overflow: hidden;
      padding: 10px 20px;
    }

    .navbar a {
      color: rgb(202, 4, 4);
      text-decoration: none;
      margin-right: 20px;
      letter-spacing: 4px;
      font-family: Arial, sans-serif;
      display: inline-block;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    .navbar a:hover {
      transform: translateY(-3px) scale(1.05); /* pops up and slightly enlarges */
      color: white;
    }

.site-footer {
  background-color: #f0f0f0;  /* light gray background */
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #c80505;
  margin-top: 40px;
}

.intro {
    margin: left;
    margin-top: 0,0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(163, 3, 3);
}

.wrapper {
  display: flex;
  align-items: flex-start; /* vertically aligns items at the top */
  gap: 10px;
}

.email-header {
   display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

